<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/svg/logo-white.svg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li *ngIf="authService.user" class="nav-item">
          <a class="nav-link" routerLink="/merchant/orders">Store</a>
        </li>
        <li *ngIf="authService.user" class="nav-item">
          <button class="nav-link btn-logout" type="button" (click)="onLogoutClick()">Logout</button>
        </li>
        <li *ngIf="!authService.user" class="nav-item">
          <a class="nav-link" routerLink="/auth/sign-in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart <span class="badge badge-success">{{ cartService.cart.getTotalItems() }}</span></a>
        </li>
      </ul>
      <div *ngIf="authService.user" class="user-details">
        <span>Hello {{ authService.user.name }}!</span>
      </div>
    </div>
  </div>
</nav>