// Colors
@primary-color: #00be92;
@color-grey: #383838;

// Fonts
@font-family: 'Roboto', sans-serif !important;
@font-weight-regular: 400;
@font-weight-semibold: 500;
@font-weight-bold: 700;

// Font sizes
@font-size-16: 16px;
@font-size-20: 20px;
@font-size-24: 24px;
@font-size-28: 24px;


// Spacing
@spacing-4: 4px;
@spacing-6: 6px;
@spacing-8: 8px;
@spacing-10: 10px;
@spacing-12: 12px;
@spacing-14: 14px;
@spacing-16: 16px;
@spacing-18: 18px;
@spacing-20: 20px;
@spacing-22: 22px;
@spacing-24: 24px;
@spacing-26: 26px;
@spacing-28: 28px;
@spacing-30: 30px;
@spacing-32: 32px;