<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="!authService.user" class="nav-item">
        <a class="nav-link" routerLink="/auth/sign-in">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li *ngIf="authService.user" class="nav-item">
        <a class="nav-link" routerLink="/merchant/orders">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart <span class="badge badge-success">{{ cartService.cart.getTotalItems() }}</span></a>
      </li>
      <li *ngIf="authService.user" class="nav-item">
        <button class="nav-link btn-logout" type="button" (click)="onLogoutClick()">Logout</button>
      </li>
    </ul>
    <div *ngIf="authService.user" class="user-details">
      <span>Hello {{ authService.user.name }}!</span>
    </div>
  </div>
</nav>
<main role="main" class="container">
	<router-outlet></router-outlet>
</main>