<div class="py-3">
  <h2>Products</h2>
</div>


<ul class="list-group mb-3">
  <ng-container *ngFor="let item of products; trackBy: trackById">
    <li class="list-group-item">
      <a [routerLink]="['/products', item._id]" class="d-flex justify-content-between lh-condensed align-items-center mr-3">
        <div>
          <h6 class="my-0">{{ item.name }} <small class="text-muted">| {{ item.merchant.name }}</small></h6>
          <small class="text-muted">Brief description</small>
        </div>
        <span class="text-muted">{{ item.price | currency:'PHP' }}</span>
      </a>
      <button class="btn btn-primary" (click)="addToCart(item)">Add to cart</button>
    </li>
  </ng-container>
</ul>